# Keycloak - arquivos de exportação
# O arquivo clinica-medica-realm.json pode ser versionado para compartilhar com a equipe
# Se você não quiser versionar, descomente a linha abaixo:
# keycloak/realm-export/*.json
!keycloak/realm-export/.gitkeep
!keycloak/realm-export/clinica-medica-realm.json
